@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url("@shared/assets/font/Roboto/Roboto-Medium.ttf");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url("@shared/assets/font/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: url("@shared/assets/font/Roboto/Roboto-Light.ttf");
}