@font-face {
    font-family: Lexend;
    font-style: normal;
    font-weight: 900;
    src:
        url("@shared/assets/font/Lexend/Lexend-Black.ttf"),
        url("@shared/assets/font/Lexend/Lexend-Black.woff");
}

@font-face {
    font-family: Lexend;
    font-style: normal;
    font-weight: 800;
    src:
        url("@shared/assets/font/Lexend/Lexend-ExtraBold.ttf"),
        url("@shared/assets/font/Lexend/Lexend-ExtraBold.woff");
}

@font-face {
    font-family: Lexend;
    font-style: normal;
    font-weight: 700;
    src:
        url("@shared/assets/font/Lexend/Lexend-Bold.ttf"),
        url("@shared/assets/font/Lexend/Lexend-Bold.woff");
}

@font-face {
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    src:
        url("@shared/assets/font/Lexend/Lexend-SemiBold.ttf"),
        url("@shared/assets/font/Lexend/Lexend-SemiBold.woff");
}

@font-face {
    font-family: Lexend;
    font-style: normal;
    font-weight: 500;
    src:
        url("@shared/assets/font/Lexend/Lexend-Medium.ttf"),
        url("@shared/assets/font/Lexend/Lexend-Medium.woff");
}

@font-face {
    font-family: Lexend;
    font-style: normal;
    font-weight: 400;
    src:
        url("@shared/assets/font/Lexend/Lexend-Regular.ttf"),
        url("@shared/assets/font/Lexend/Lexend-Regular.woff");
}

@font-face {
    font-family: Lexend;
    font-style: normal;
    font-weight: 300;
    src:
        url("@shared/assets/font/Lexend/Lexend-Light.ttf"),
        url("@shared/assets/font/Lexend/Lexend-Light.woff");
}

@font-face {
    font-family: Lexend;
    font-style: normal;
    font-weight: 200;
    src:
        url("@shared/assets/font/Lexend/Lexend-ExtraLight.ttf"),
        url("@shared/assets/font/Lexend/Lexend-ExtraLight.woff");
}

@font-face {
    font-family: Lexend;
    font-style: normal;
    font-weight: 100;
    src:
        url("@shared/assets/font/Lexend/Lexend-Thin.ttf"),
        url("@shared/assets/font/Lexend/Lexend-Thin.woff");
}
