$color-blueberry: rgb(76, 145, 250);
$color-dark-lavender: rgb(103, 80, 163);
$color-brandeis-blue: rgb(0, 99, 249);
$color-blue-crayola: rgb(32, 118, 249);
$color-pale-violet: rgb(199, 128, 250);
$color-full-white: rgb(255, 255, 255);
$color-electric-pink: rgb(251, 37, 118);
$color-cetacean-blue: rgb(20, 9, 79);
$color-electric-blue: rgb(142, 250, 244);
$color-grape: rgb(105, 40, 169);
$color-fresh-air: rgb(172, 218, 255);
$color-cyan-cornflower: rgb(31, 150, 208);
$color-spiro-disco-ball: rgb(15, 183, 255);
$color-russian-violet-two: rgb(44, 30, 74);
$color-spanish-grey: rgb(149, 149, 149);
$color-russian-violet: rgb(60, 15, 72);
$color-philippine-pink: rgb(237, 29, 144);
$color-ultramarine-blue: rgb(54, 98, 255);
$color-vivid-cerulean: rgb(0, 162, 255);
$color-lavender-indigo: rgb(126, 66, 255);
$color-full-black: rgb(0, 0, 0);
$color-vivid-mulberry: rgb(180, 15, 231);
$color-lavender-floral: rgb(165, 123, 255);
$color-midnight-blue: rgb(6, 6, 32);
$breakpoint-xs: 320;
$breakpoint-sm: 428;
$breakpoint-md: 744;
$breakpoint-lg: 1133;
$breakpoint-xl: 1440;
$breakpoint-xxl: 1728;
